<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai01_000.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{782,676}</string>
                <key>spriteSourceSize</key>
                <string>{782,676}</string>
                <key>textureRect</key>
                <string>{{1,1},{782,676}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai01_001.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{380,432}</string>
                <key>spriteSourceSize</key>
                <string>{782,676}</string>
                <key>textureRect</key>
                <string>{{1,1265},{380,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bai01_002.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{756,558}</string>
                <key>spriteSourceSize</key>
                <string>{782,676}</string>
                <key>textureRect</key>
                <string>{{785,569},{756,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai01_003.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{768,566}</string>
                <key>spriteSourceSize</key>
                <string>{782,676}</string>
                <key>textureRect</key>
                <string>{{785,1},{768,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai01_004.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{766,584}</string>
                <key>spriteSourceSize</key>
                <string>{782,676}</string>
                <key>textureRect</key>
                <string>{{1,679},{766,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai01_005.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,50}</string>
                <key>spriteSize</key>
                <string>{756,462}</string>
                <key>spriteSourceSize</key>
                <string>{782,676}</string>
                <key>textureRect</key>
                <string>{{769,1129},{756,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai01_006.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,50}</string>
                <key>spriteSize</key>
                <string>{756,466}</string>
                <key>spriteSourceSize</key>
                <string>{782,676}</string>
                <key>textureRect</key>
                <string>{{1555,1},{756,466}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bai01_007.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,56}</string>
                <key>spriteSize</key>
                <string>{756,478}</string>
                <key>spriteSourceSize</key>
                <string>{782,676}</string>
                <key>textureRect</key>
                <string>{{1543,759},{756,478}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Test.png</string>
            <key>size</key>
            <string>{2022,1646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:962e161c8fee05d9efc24ec211b4e0e0:14d905a5ea90545639a7f909dd296b89:1c5cbeaff48bf66dd175fbbaf0aa8888$</string>
            <key>textureFileName</key>
            <string>Test.png</string>
        </dict>
    </dict>
</plist>
