<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai01_000.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{782,676}</string>
                <key>spriteSourceSize</key>
                <string>{782,676}</string>
                <key>textureRect</key>
                <string>{{1,1},{782,676}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai01_001.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{380,432}</string>
                <key>spriteSourceSize</key>
                <string>{782,676}</string>
                <key>textureRect</key>
                <string>{{1543,1},{380,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai01_002.tga</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{756,558}</string>
                <key>spriteSourceSize</key>
                <string>{782,676}</string>
                <key>textureRect</key>
                <string>{{785,1},{756,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Test.png</string>
            <key>size</key>
            <string>{1924,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d12764383373b6b4d9f7449b5cd3fbc:694d2452e4ff2be271619194979bd26b:1c5cbeaff48bf66dd175fbbaf0aa8888$</string>
            <key>textureFileName</key>
            <string>Test.png</string>
        </dict>
    </dict>
</plist>
